#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #020060;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #020060;
    height: 35px;
}
.sidebar-separator {
    background-color: #020060;
    height: 25px;
}
.logo-separator {
    background-color: #020060;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.list-group-item{
    background-color: #020060;
}
.list-group-item:hover{
    background-color: #090177;
}
.sidebar-separator-title{
    background-color: #020146;
}
.cyan-color{
    color: #5ce1e6;
    opacity: 0.5;
}

.navbar-brand {
    display: flex;
    justify-self: center;
}
.logo-menu{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.svg-inline--fa.fa-fw , #collapse-icon {
    color: #ff6689;
}

.list-group-item-action:focus {
    background-color: #4d51ff;
}

.navbar1{
    position: absolute;
    bottom: 0px!important;
    width: 100%;
    height: 60px;
    background-color:#020060 ;
    display: none;
}


#navbar-responsive>ul{
    padding: 0px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

ul>li {
    list-style: none;
}
/* .navbar {
    background-color: white;
    border-bottom: 1px solid #020060;
}
.navbar>div>img {
    width: 100px;
    height: auto;
    border-radius: 5px;
} */



@media(max-width : 767px){
 .navbar1 {
     display: block;
 }
}